<div id="wrapper">

    <div [ngClass]="IsMaxMize ? 'flexleftareafull' : 'flexleftarea'">

        <div class="toggle-icon" (click)="toggleMax()">
            <i *ngIf="!IsMaxMize" class="material-icons">fullscreen</i>
            <i *ngIf="IsMaxMize" class="material-icons">fullscreen_exit</i>
        </div>
        <div class="workingarea">
            <div class="toparea">Top Area</div>
            <div class="buttomarea">
                <app-paint-clone #paintRef></app-paint-clone>
            </div>
        </div>

    </div>

    
    <div class="rightarea">
        <div class="reportCard">
            <div class="profileHeader">
                <div class="profileimage">
                    <img [src]="'https://www.relearntoday.com/assets/images/students_img/' + userData?.ID + '.jpg'"
                        alt="Profile" (error)="setDefaultImage($event)" >

                </div>
                <div class="name">
                    {{userData.UserName}}
                </div>
                <div class="studentid">
                    Student ID : {{userData.ID}}
                </div>

                <div class="studentid">
                    <span>Class {{userData.Class}}</span>
                    <span>Week {{currentWeek}} </span>
                    <span>Day {{currentDay}}</span>
                </div>

            </div>

            <div class="reportarea">
                <div class="progess">
                    <span>Today's Progress Report:
                        {{this.CurrentReport.today_report.correct}}/{{this.CurrentReport.today_report.total}}</span>
                    <div class="progessline">
                        <section class="example-section">
                            <mat-progress-bar class="example-margin"
                                [value]="CurrentReport.today_report.correct_percent">
                            </mat-progress-bar>
                        </section>
                    </div>
                    <div class="progessCricelarea">
                        <div class="rightans">
                            <circle-progress [percent]="CurrentReport.today_report.correct_percent" [radius]="50"
                                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'green'"
                                [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="1000">
                            </circle-progress>
                        </div>
                        <div class="worngans">
                            <circle-progress [percent]="CurrentReport.today_report.incorrect_percent" [radius]="50"
                                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'red'"
                                [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="1000">
                            </circle-progress>
                        </div>
                    </div>
                </div>
                <div class="progess">
                    <span>{{CurrentQuestion.topics}} Progress Report:
                        {{this.CurrentReport.topic_wise_report.correct_percent}}/{{this.CurrentReport.topic_wise_report.correct}}
                    </span>
                    <div class="progessline">
                        <section class="example-section">
                            <mat-progress-bar class="example-margin"
                                [value]="CurrentReport.topic_wise_report.correct_percent">
                            </mat-progress-bar>
                        </section>
                    </div>
                    <div class="progessCricelarea">
                        <div class="rightans">
                            <circle-progress [percent]="CurrentReport.topic_wise_report.correct_percent" [radius]="50"
                                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'green'"
                                [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="1000">
                            </circle-progress>
                        </div>
                        <div class="worngans">
                            <circle-progress [percent]="CurrentReport.topic_wise_report.incorrect_percent" [radius]="50"
                                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'red'"
                                [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="1000">
                            </circle-progress>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>



<!-- <div id="wrapper">
    <div [ngClass]="IsMaxMize == false?'flexleftarea':'flexleftareafull'">
        <div id="minmize"></div>


    </div>


    <div class="rightarea">
        <div class="reportCard">
            <div class="profileHeader">
                <div class="profileimage">
                    <img [src]="'https://www.relearntoday.com/assets/images/students_img/' + userData?.ID + '.jpg'"
                        alt="Profile" (error)="setDefaultImage($event)">

                </div>
                <div class="name">
                    {{userData.UserName}}
                </div>
                <div class="studentid">
                    Student ID : {{userData.ID}}
                </div>

                <div class="studentid">
                    <span>Class {{userData.Class}}</span>
                    <span>Week {{currentWeek}} </span>
                    <span>Day {{currentDay}}</span>
                </div>

            </div>

            <div class="reportarea">
                <div class="progess">
                    <span>Today's Progress Report:
                        {{this.CurrentReport.today_report.correct}}/{{this.CurrentReport.today_report.total}}</span>
                    <div class="progessline">
                        <section class="example-section">
                            <mat-progress-bar class="example-margin"
                                [value]="CurrentReport.today_report.correct_percent">
                            </mat-progress-bar>
                        </section>
                    </div>
                    <div class="progessCricelarea">
                        <div class="rightans">
                            <circle-progress [percent]="CurrentReport.today_report.correct_percent" [radius]="50"
                                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'green'"
                                [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="1000">
                            </circle-progress>
                        </div>
                        <div class="worngans">
                            <circle-progress [percent]="CurrentReport.today_report.incorrect_percent" [radius]="50"
                                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'red'"
                                [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="1000">
                            </circle-progress>
                        </div>
                    </div>
                </div>
                <div class="progess">
                    <span>{{CurrentQuestion.topics}} Progress Report:
                        {{this.CurrentReport.topic_wise_report.correct_percent}}/{{this.CurrentReport.topic_wise_report.correct}}
                    </span>
                    <div class="progessline">
                        <section class="example-section">
                            <mat-progress-bar class="example-margin"
                                [value]="CurrentReport.topic_wise_report.correct_percent">
                            </mat-progress-bar>
                        </section>
                    </div>
                    <div class="progessCricelarea">
                        <div class="rightans">
                            <circle-progress [percent]="CurrentReport.topic_wise_report.correct_percent" [radius]="50"
                                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'green'"
                                [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="1000">
                            </circle-progress>
                        </div>
                        <div class="worngans">
                            <circle-progress [percent]="CurrentReport.topic_wise_report.incorrect_percent" [radius]="50"
                                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'red'"
                                [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="1000">
                            </circle-progress>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div> -->