<div id="wrapper">
  <div class="side">
    <div class="header">
      <span> My Course</span>
    </div>
    <div id="scrollarea">
      <mat-accordion *ngFor="let weeks of weeksList" class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="onGetTopics(weeks.week_num)">
            <mat-panel-title style="display: flex;justify-content: space-between;">
              <span> Week {{weeks.week_num}} <div class="topic_title" [ngClass]="getWeekClass(weeks.week_num)">
                  {{ getWeekStatus(weeks.week_num) }}
                </div></span>

            </mat-panel-title>
          </mat-expansion-panel-header>
          <hr>
          <div class="topic_title">Available Topics</div>
          <hr>
          <mat-list role="list" class="custom-list">
            <mat-list-item role="listitem" *ngFor="let sec of TopicsLists">
              {{ sec.topics }}
            </mat-list-item>
          </mat-list>


          <button (click)="onDays(weeks.week_num)" mat-fab extended
            *ngIf="getWeekClass(weeks.week_num) === 'current' || getWeekClass(weeks.week_num) === 'access'"
            class="access-btn">
            {{ getWeekStatus(weeks.week_num) }}
          </button>

          <!-- <div class="topic_title"
            *ngIf="getWeekClass(weeks.week_num) === 'completed' || getWeekClass(weeks.week_num) === 'upcoming'"
            [ngClass]="getWeekClass(weeks.week_num)">
            {{ getWeekStatus(weeks.week_num) }}
          </div> -->





        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>
  <div class="main">
    <div class="uppar_section">
      <div class="profile_section">
        <div class="profile_box">
          <div class="profileimg">
            <img [src]="'https://www.relearntoday.com/assets/images/students_img/' + userData?.ID + '.jpg'"
              alt="Profile" (error)="setDefaultImage($event)">
          </div>
          <div class="profiledeatils">
            <div class="row name">{{userData.UserName}}</div>
            <div class="row">{{userData.DOB}}</div>
            <div class="row">{{userData.Class }}</div>
            <div class="row">{{userData.School}}</div>
            <div class="row">{{userData.Country}}</div>
            <div class="row">Course : {{userData.Course}}</div>
          </div>

        </div>
      </div>
      <div class="point_area">
        <div class="point_box">
          <div class="point_img">
            <img src="assets/icon/star.png" alt="">
          </div>
          <div class="point_title">
            <div class="relearnpinttitile">
              <h1>ReLearn Points</h1>

            </div>
            <div class="pointnumber">{{reLearnPoint}}</div>
          </div>
        </div>

      </div>
    </div>
    <div class="lower_section">
      <div class="timeline">
        <div *ngFor="let day of days1; let i = index" (click)="onTopics(day, $event)" class="day-container"
          [ngClass]="{ activeClass: day.name == currentDay }">
          <img [src]="day.url" alt="" (click)="onTopics(day, $event)">
        </div>
      </div>

      <div class="timeline">
        <div *ngFor="let day of days2; let i = index" (click)="onTopics(day, $event)" class="day-container2"
          [ngClass]="{ activeClass: day.name == currentDay }">
          <img [src]="day.url" alt="" (click)="onTopics(day, $event)">
        </div>
      </div>
    </div>
  </div>