<mat-sidenav-container class="container-fluid">

    <mat-sidenav #sidebar mode="side" opened>
        <div class="sidebar_top_logo_area">
            <img src="../../../assets/icon/logo_app.png" alt="">
        </div>
        <div class="sidebar_menu_area">

            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#schedules" aria-expanded="true"
                aria-controls="collapseExample" (click)="cstoggle()" [ngClass]="{'active':activeButton ===8}"
                (click)="setActive(8)" routerLinkActive="active">
                <mat-icon>schedule</mat-icon>
                English Question
                <mat-icon style="float: right;"
                    [@rotateIcon]="isOpen6 ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
            </button>

            <div class="collapse" id="schedules">
                <button class="options" routerLink="/adminEnglish/eng-question" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Question
                </button>
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#masterData"
                    aria-expanded="true" aria-controls="collapseExample" (click)="mdtoggle()"
                    [ngClass]="{'active':activeButton ===5}" (click)="setActive(5)" routerLinkActive="active">
                    <mat-icon>perm_data_setting</mat-icon>
                    Master Data
                    <mat-icon style="float: right;"
                        [@rotateIcon]="isOpen3 ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
                </button>
                <div class="collapse" id="masterData" routerLinkActive="active">
                    <button class="options" routerLink="/adminEnglish/eng-classes" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Class
                    </button>

                    <button class="options" routerLink="/adminEnglish/eng-week" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Weeks
                    </button>

                    <button class="options" routerLink="/adminEnglish/eng-day" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Day`s
                    </button>

                    <button class="options" routerLink="/adminEnglish/eng-Sections" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Sections
                    </button>



                    <button class="options" routerLink="/adminEnglish/eng-topics" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Topic
                    </button>

                    <button class="options" routerLink="/adminEnglish/eng-subtopics" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Sub Topic
                    </button>

                    <button class="options" routerLink="/adminEnglish/eng-units" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Unit
                    </button>


                </div>
            </div>



            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#schedule" aria-expanded="true"
                aria-controls="collapseExample" (click)="mqtoggle()" [ngClass]="{'active':activeButton ===11}"
                (click)="setActive(11)" routerLinkActive="active">
                <mat-icon>schedule</mat-icon>
                Math Question
                <mat-icon style="float: right;"
                    [@rotateIcon]="isOpen6 ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
            </button>

            <div class="collapse" id="schedule">
                <button class="options" routerLink="/adminMath/math-question" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Question
                </button>
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#masterDataa"
                    aria-expanded="true" aria-controls="collapseExample" (click)="mdstoggle()"
                    [ngClass]="{'active':activeButton ===5}" (click)="setActive(5)" routerLinkActive="active">
                    <mat-icon>perm_data_setting</mat-icon>
                    Master Data
                    <mat-icon style="float: right;"
                        [@rotateIcon]="isOpen3 ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
                </button>
                <div class="collapse" id="masterDataa" routerLinkActive="active">
                    <button class="options" routerLink="/adminMath/math-classes" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Class
                    </button>

                    <button class="options" routerLink="/adminMath/math-week" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Weeks
                    </button>

                    <button class="options" routerLink="/adminMath/math-day" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Day`s
                    </button>

                    <button class="options" routerLink="/adminMath/math-Sections" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Sections
                    </button>



                    <button class="options" routerLink="/adminMath/math-topics" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Topic
                    </button>

                    <button class="options" routerLink="/adminMath/math-subtopics" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Sub Topic
                    </button>

                    <button class="options" routerLink="/adminMath/math-units" routerLinkActive="active">
                        <mat-icon>arrow_right_alt</mat-icon>
                        Unit
                    </button>
                </div>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar class="dashboard_top_head">
            <button mat-icon-button (click)="sidebar.toggle()"> <mat-icon>menu</mat-icon>
            </button>
            <div class="top_head_details_area">
                <div class="icons_area">
                    <div class="icons">
                    </div>

                    <div class="icons">
                        <!-- <mat-icon> chat_bubble_outline</mat-icon> -->
                    </div>
                    <div class="icons">
                        <!-- <mat-icon> call</mat-icon> -->
                    </div>
                    <div class="icons">
                        <!-- <mat-icon>school</mat-icon> -->
                        <button mat-icon-button> <mat-icon>notifications_none</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="user_details_with_login_icon" (click)="openProfileDialog()">
                    <div class="user_icon">
                        <img src="../../../assets/icon/profile.jpeg" alt="">
                    </div>
                    <div class="user_name">Mr. ABC </div>
                    <div class="user_title">
                        <h3>Admin</h3>
                    </div>
                </div>
            </div>
        </mat-toolbar>

        <div class="main">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>